@model Cemet.Models.ViewModelItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nama)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nama)
            @Html.ValidationMessageFor(model => model.Nama)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KodeSendiri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KodeSendiri)
            @Html.ValidationMessageFor(model => model.KodeSendiri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Barcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Barcode)
            @Html.ValidationMessageFor(model => model.Barcode)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Satuan_SatuanId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Satuan_SatuanId, ViewData["Satuan"] as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.Satuan_SatuanId)
        </div>
        @Html.HiddenFor(model => model.ItemId)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
